:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.container-hook {
  margin: 45px 0px;
  padding: 25px;
  border: 2px solid #f9f9f9;
  border-radius: 20px;
}

.title-hook {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin: 0;
}

/* Flex */

.flex {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.flex-column {
  flex-direction: column;
}

.flex-space-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.h2-purple {
  color: #646cff;
  font-size: 1.47em;
}

.flex-column span {
  font-size: 20px;
  font-weight: 700;
  color: #f9f9f9;
}

/* Form */

.input-outer-wrap {
  position: relative;
  margin: 25px 0;
}

.input-outer-wrap input {
  height: 45px;
  width: 240px;
  background: transparent;
  position: relative;
  z-index: 1;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-size: 16px;
  padding: 0 10px;
}

.input-outer-wrap label {
  position: absolute;
  left: 10px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  transition: all 0.2s ease;
  z-index: 0;
}

.input-outer-wrap input:focus {
  border-color: #ea728b;
  outline: none;
}

/* Estilo del input cuando está enfocado */
.custom-input:focus + .custom-label {
  font-size: 0.875rem;
  background: #242424;
  color: #ea728b;
  padding: 0 0.4rem;
  left: 5px;
  top: -8px;
  z-index: 2;
  position: absolute;
  height: 15px;
}

/* Estilo del label cuando el input tiene un valor */
.custom-input:not(:placeholder-shown) + .custom-label {
  font-size: 0.875rem;
  background: #242424;
  color: #ea728b;
  padding: 0 0.4rem;
  left: 5px;
  top: -8px;
  z-index: 2;
  position: absolute;
  height: 15px;
}

/* Estilo del borde del input cuando el label está en la posición superior */
.custom-input:not(:placeholder-shown) {
  border-color: #ea728b;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
